* {box-sizing: border-box; margin:0;}
.alias {cursor: all-scroll;}
html,body{
  margin: 0;
  background-image: url('img/imagen-fondo.jpg');

}

#all{
  background-image: url('img/imagen-fondo.jpg');
  height: 100%;

}

#all:after {
  content: "";
  display: table;
  clear: both;
}

#menu_arriba{
  background-image: linear-gradient(to bottom right, #0101DF, #A4A4A4);
  color: white;
  font-size: 30px;
  border: thin solid blue;
}

/* CLEARFIX */
#menu_arriba:after {
  content: "";
  display: table;
  clear: both;
}

#arriba_linux{
  float: left;
  width: 33.333%;
  animation-name: bounceInUp;
  animation-duration: 2s;
}

#arriba_title{
  line-height: 150px;
  float: left;
  width: 23.333%;
  text-align: center;
  animation-name: bounceInLeft; /* para aplicar la animacion */
  animation-duration: 2s; /* para que dure mas la animacion y se aprecie */
}
#arriba_title a:link{
  color:inherit;  /* ESTO ES PARA QUE NO SE CAMBIE EL COLOR DEL LINK "a" DEL ID ARRIBA_TITLE */
}
#arriba_title a:active{
  color:blue; /* PARA QUE CUANDO LE CLICKES ENCIMA SE PONGA AZUL*/
}

/* ANIMACION PARA EL TITULO PARA QUE ENTRE HACIA LA DERECHA*/
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


#arriba_linux_izquierda{
  float: right;
  width: 43.333%;
  text-align: right;
  animation-name: bounceInUp;
  animation-duration: 2s;
}

/* ANIMACION DEL PINGUINO PARA QUE SUBA HACIA ARRIBA */
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


#submenu_arriba{
  font-style: oblique;
  font-family: none;
  background-image: linear-gradient(to bottom right, #819FF7, #01A9DB);
  color:black;
  float: left;
  font-size: 30px;
  width: 100%;
  border: thin solid blue;
  animation-name: rotateInUpRight;
  animation-duration: 1s;

}

/* ANIMACION DEL MENU_ARRIBA */
@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


#estudios{
  text-align: center;
  float: left;
  width: 25%;
}

#submenu_estudios{
  display: none;
  width: 25%;
}

#estudios:hover #submenu_estudios{
  position: absolute;
  display: block;
}

#titulos{
  text-align: center;
  float: left;
  width: 25%;
}
#titulos a:link{
  color: inherit; /* PARA QUE EL LINK MANTENGA EL COLOR Y NO SE PONGA AZUL */
  text-decoration: none; /* PARA QUE NO SALGA LA LINEA DEBAJO DEL LINK */
}

#submenu_titulos{
  display: none;
  width: 25%;
}
#titulos:hover #submenu_titulos{
  position: absolute;
  display: block;
}

#experiencia_laboral{
  text-align: center;
  float: left;
  width: 25%;
}


#experiencia_laboral a:link{
  color: inherit; /* PARA QUE EL LINK MANTENGA EL COLOR Y NO SE PONGA AZUL */
  text-decoration: none; /* PARA QUE NO SALGA LA LINEA DEBAJO DEL LINK */
}

#proyectos_personales{
  text-align: center;
  float: left;
  width: 25%;
}

#proyectos_personales a:link{
  color: inherit; /* PARA QUE EL LINK MANTENGA EL COLOR Y NO SE PONGA AZUL */
  text-decoration: none; /* PARA QUE NO SALGA LA LINEA DEBAJO DEL LINK */
}


#submenu_proyectos{
  display: none;
  width: 25%;
}

#proyectos_personales:hover #submenu_proyectos{
  position: absolute;
  display: block;
}

.item{
  background-image: linear-gradient(to bottom right, #819FF7, #01A9DB);
  border: thin solid blue;
  font-size: 22px;
  font-style: italic;
  font-family: fantasy;
  padding: 1%;
}
.todo_centro{
padding: 1%;
font-family:  serif;

}
.menu_izquierda{
  font-family: monospace;
  font-size: 20px;
  width: 20%;
  float: left;
  border: thin solid blue;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

.titulos_menu_izq{
  font-family: serif;
  font-style: oblique;
  font-size: 25px;
  color: blue;
  background-image: linear-gradient(to bottom right, #819FF7, #01A9DB);
  border: thin solid blue;
  text-align: center;

}
.interior_menu_izq{
  padding: 2%;
  background-image: linear-gradient(to bottom right, #07aeec, #edfeff);
}

#center{
  float: left;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.carousel{
  /* float: left;
  width: 10%;
  padding-left: 10%; */

}

.carousel-buttons{
float: left;
padding-left: 35%;
padding-top: 1%;
}

/* ESTILO DE LOS BOTONES DE PASAR LAS IMAGENES */
#button-anterior {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #00FFFF;
border-radius: 5px;
border: thin solid blue;
width: 50px;
height: 30px;
color: blue;
font-size: 20px;
}
#button-anterior:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button-siguiente {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #00FFFF;
border-radius: 5px;
border: thin solid blue;
width: 50px;
height: 30px;
color: blue;
font-size: 20px;
}
#button-siguiente:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.carousel-image{
  border: thin solid blue;
  border-width: 2px;
  display: none;
  max-width: 100%;
  width: 800px;
  border-radius: 10px;


}

.carousel .carousel-image:first-child{
  display: block;

}


.menu_derecha{
  font-family: monospace;
  font-size: 20px;
  float: right;
  width: 20%;
  border: thin solid blue;
  animation-name: bounceInLeft;
  animation-duration: 2s;

}


/* PARA QUE EN LAS PANTALLAS MAS PEQUEÑAS A 1.000px LOS LADOS OPCUPEN EL 100% DEL WIDTH */
@media screen and (max-width: 1000px) {

  #submenu_arriba{
    font-size: 15px;
  }

/* PARA QUE LOS ITEMES DE LOS TITULOS OCUPEN EL 100% DEL WIDTH */
  #estudios{
    width: 100%;
    text-align: left;
  }
  #submenu_estudios{
    width: 100%;
  }
  #titulos{
    width: 100%;
    text-align: left;
  }
  #submenu_titulos{
    width: 100%;
  }
  #experiencia_laboral{
    width: 100%;
    text-align: left;
  }
  #proyectos_personales{
    width: 100%;
    text-align: left;
  }
  #submenu_proyectos{
    width: 100%;
  }

  .menu_izquierda, .menu_derecha{
    width: 100%;
    font-size: 15px;/* The width is 100%, when the viewport is 800px or smaller */
  }
  #center{
    width: 100%;
  }
  /* PARA APLICARLE A TODOO LA LETRA AL 15 */
  *{
    font-size: 15px !important;
  }

  }
