#ravigo{
  font-family: monospace;
  font-size: 20px;
  width: 33%;
  float: left;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}
.interior_menu_izq_experiencia{
  padding: 2%;
  background-image: linear-gradient(to bottom right, #07aeec, #edfeff);
  border: thin solid blue;
}

#img_autocar{
  width: 150%;
  padding: 10px;
  border: silver 10px solid;
  border-radius: 50px;
  border-spacing: 20%;

}

/* PARA QUE EN LAS PANTALLAS MAS PEQUEÑAS A 1.000px LOS LADOS OPCUPEN EL 100% DEL WIDTH */
@media screen and (max-width: 1000px) {
  * {font-size: 15px;}
  #ravigo{
    width: 100%;
  }
  #img_autocar{
    width: 100%;
  }
}
