<!-- ESTE ES EL MENU DE TODAS LAS PAGINAS -->
<!-- DIV DEL MENU DE ARRIBA, DONDE SALE LA FOTO DE LINUX -->
<div id="menu_arriba">
  <!-- DIV DEL PINGUINO DERECHA -->
  <div id="arriba_linux">
    <img src="img/linux.png" width="140px" height="160px"/>
  </div>

  <!-- DIV DEL TITULO -->
  <div id="arriba_title">
    <a href="index.html"> MI CURRÍCULUM</a>
  </div>

  <!-- DIV DEL PINGUINO IZQUIERDA -->
  <div id="arriba_linux_izquierda">
    <img src="img/linux.png" width="140px" height="160px"/>
</div>

  <!-- DIV DEL SUBMENU DE ARRIBA -->
<div id="submenu_arriba">

    <div id="estudios">
    Estudios

      <!-- SUBMENU QUE NO SE VE, DENTRO DE ESTUDIOS -->
      <div id="submenu_estudios">
        <div class="item"> <a href="http://www.ieslesvinyes.org/" target="blank">Educacion Secundaria Obligatoria</a> </div>
        <div class="item"> <a href="https://elpuig.xeill.net" target="blank">Ciclo Medio de SMX</a> </div>
      </div>

    </div>

    <div id="titulos">
      <a href="titulos.html">Títulos</a>

      <!--SUBMENU QUE NO SE VE, DENTRO DE TITULOS -->
      <div id="submenu_titulos">
        <div class="item">Educacion Secundaria Obligatoria</div>
        <div class="item">Monitor de Futbol Base</div>
      </div>

  </div>

  <div id="experiencia_laboral">
      <a href="experiencia_laboral.html">Experiencia Laboral</a>
  </div>

  <div id="proyectos_personales">
      <a href="proyectos-personales.html"> Proyectos personales</a>

      <!-- SUBMENU QUE NO SE VE, DENTRO DE PROYECTOS PERSONALES -->
      <div id="submenu_proyectos">
        <div class="item">Pagina Web</div>
        <div class="item"> Nextcloud </div>
        <div class="item">Gitlab</div>
      </div>

  </div>

  </div>

</div>
