
.pagina_web{
  font-family: monospace;
  font-size: 20px;
  width: 32%;
  float: left;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

.interior_menu_izq_proyectos{
  padding: 2%;
  background-image: linear-gradient(to bottom right, #07aeec, #edfeff);
  border: thin solid blue;
}

#img_wordpress{
  padding: 2%;
  width: 40%;
}

#img_html-css{
  padding: 2%;
  width: 55%;
}

.nextcloud{
  font-family: monospace;
  font-size: 20px;
  width: 32%;
  float: left;
  animation-name: bounceInLeft;
  animation-duration: 2s;
  padding-left: 2%;
}

.img_cloud{
  padding: 2%;
  width: 40%;
}
#img_moodle{
  padding-left: 5%;
  width: 50%;
}


.git{
  font-family: monospace;
  font-size: 20px;
  width: 32%;
  float: left;
  animation-name: bounceInLeft;
  animation-duration: 2s;
  padding-left: 2%;
}

#img_git{
  padding: 2%;
  width: 50%;
}

#img_gnu{
  padding: 2%;
  width: 70%;
}

/* PARA QUE EN LAS PANTALLAS MAS PEQUEÑAS A 1.000px LOS LADOS OPCUPEN EL 100% DEL WIDTH */
@media screen and (max-width: 1000px) {
	.pagina_web, .nextcloud, .git{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .all{
    font-size: 15px;
  }
  #center{
    width: 100%;
  }
}
