
.eso{
  font-family: monospace;
  font-size: 20px;
  width: 35%;
  float: left;
  /* border: thin solid blue; */
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

/* CSS LA IMAGEN DE DENTRO DE ESO (VINYES.SVG)  */
/* .eso imagen{
  border-radius: 20px;
  background-color: red;

} */

.interior_menu_izq_titulos{
  padding: 2%;
  background-image: linear-gradient(to bottom right, #07aeec, #edfeff);
  border: thin solid blue;
}



.monitor_fb{
  margin-left: 2%;
  font-family: monospace;
  font-size: 20px;
  width: 35%;
  float: left;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

/* Imagen del monitor_fb ( imagen del logo singuerlin ) */
.monitor_fb img{
  padding: 2%;
  width: 40%;
}

/* PARA QUE EN LAS PANTALLAS MAS PEQUEÑAS A 1.000px LOS LADOS OPCUPEN EL 100% DEL WIDTH */
@media screen and (max-width: 1000px) {
	.eso, .monitor_fb{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #center{
    width: 100%;
  }
}
